/* src/app/features/pmi/pmi-gantt/pmi-gantt.css */

:host {
  /* Posicionamiento absoluto para ignorar el p-12 del padre */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
  z-index: 10; /* Para estar por encima del fondo con blur del padre */
}

/* Forzamos que ignore el max-w-7xl si existe en el ancestro */
:host-context(.max-w-7xl), :host-context(main) {
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Estilo para el selector de proyectos (Vox Style) */
.project-select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%2394a3b8'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

/* Scrollbar ultrafino para el mapa interactivo */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}